
body{
font-family:'Roboto', sans-serif;
margin: 0;
}
h1{
padding: 8px;

border-radius: 8px;
margin: 0;
font-size: 64px;
font-family: 'Roboto Slab', serif;

}
#banner{
height:100vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background: rgba(0,0,0,0.2) url('images/perfil3.jpg');
background-size: cover;
background-attachment: fixed;
background-position: center;
background-blend-mode: overlay;
color: white;

}
#banner h1{
	background: rgba(255,0,0,8);
}
#banner h3{
    background: black;
    border-radius: 8px;
    padding: 0 24px;
    font-size: 24px;
}
/* search box*/

.row{
margin: 0;
}
.container{

padding: 70px 0;
}

/* barra de nav */
.navbar{ 
	padding:15px;
	justify-content:space-around; 	
	background-color: #1d1e20;
	display: flex;

}
.navbar-nav li{
	
	margin-left: 10px;
	margin-right: 50px;

	
}

.nav-link{
	font-size: 1.1em !important; /* size of font */
	color: white; /* color of font*/
	font-weight: bolder; /* to get the words in bold*/
}

.title-array{
text-align: center;
margin-top: 25px;
margin-bottom: 25px;

}
.text-center{
	text-align: center;
	font-size: 16px;
}
main h2{
text-align: center;

}
/*Footer */
footer{
	background-color: #ff3717;
	color: black;
	padding-top: 2rem;

}
footer a{
	color: black;
}
.text-center h5{
	color: grey;
}
.card-gif{
text-align: center;
}
.card-description{

	margin-top: 50px;
	margin-bottom: 50px;
}
table td{
border: 2px solid;
width: 50%;

}
table th{
	font-size: larger;
	width: 50%;
	border: 2px solid;
	
	}
	table tr{
width: 50%;

	}
/* BootStrap - flexbox*/

.tabela{
display:flex;
justify-content: center;
align-content: center;
margin-bottom: 30px;
font-size: 20px;
margin-left: 15px;
margin-right: 15px;
}
